### Creating dataframe with nearest centroid data

Installing needed packages and moving to folder with files

In [ ]:
!pip install geopandas
%cd /content/drive/MyDrive/11279group34/

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.0)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.20)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
/content/drive/MyDrive/11279group34

In [ ]:
!pwd

/content/drive/My Drive/11279group34
centroidPoints.geojson	landuseLDI_centroids_nearestID_dist.geojson
data			README.md
demo			tests
FloridaFlow		water_centroidPoints.geojson

In [ ]:
import geopandas
import pandas as pd
import numpy as np

from scipy.spatial import cKDTree
from shapely.geometry import Point

Reading in landuse intensity geojson file <- has polygon shapes and such

In [ ]:
gdf = geopandas.read_file("data/landscapeDevelopmentIndex/Current_Landuse_-_Landscape_Development_Intensity_(LDI).geojson")

In [ ]:
gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [ ]:
gdf

         OBJECTID  ...                         centroids
0               1  ...  POINT (-8949496.651 3176698.682)
1               2  ...  POINT (-8949106.299 3177249.232)
2               3  ...  POINT (-8953091.749 3177318.692)
3               4  ...  POINT (-8947966.907 3177347.275)
4               5  ...  POINT (-8949616.034 3177551.032)
...           ...  ...                               ...
1338031   1338032  ...  POINT (-9130491.112 3575723.293)
1338032   1338033  ...  POINT (-9095303.402 3575202.887)
1338033   1338034  ...  POINT (-9106407.185 3574920.918)
1338034   1338035  ...  POINT (-9099131.919 3575314.852)
1338035   1338036  ...  POINT (-9091317.012 3575193.348)

[1338036 rows x 11 columns]

In [ ]:
gdf.to_crs(epsg=3395, inplace=True) # Find proper coordonate refrence system for datasets
gdf['centroids'] = gdf.centroid
gdf.to_crs(epsg=4326, inplace=True) # Return to previous coordonate system

In [ ]:
waterIds = [5120,5100,5110,5200,5300,5250,5400,5430,5600,6100,5710,5420,5410,
                                            6120,6130,6150,6149,6170,6159,6179,6210,6180,6189,6182,6220,6216,
                                            6250,6259,6410,6400,6420,6430,6411,6440,6460,6469,6510,6520]
water = gdf.loc[gdf["LEVEL3_VALUE"].isin(waterIds)]

Create file with just centroid of non-water objects

In [ ]:
centroidsOnly = geopandas.GeoDataFrame(gdf['OBJECTID'], geometry=gdf.centroids)
#centroidsOnly.to_file("centroidPoints.geojson", driver="GeoJSON")

centroidsOnly_water = geopandas.GeoDataFrame(water['OBJECTID'], geometry=water.centroids)
#centroidsOnly.to_file("water_centroidPoints.geojson", driver="GeoJSON")
centroidsOnly_water

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: CRS mismatch between CRS of the passed geometries and 'crs'. Use 'GeoDataFrame.set_crs(crs, allow_override=True)' to overwrite CRS or 'GeoDataFrame.to_crs(crs)' to reproject geometries. CRS mismatch will raise an error in the future versions of GeoPandas.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: CRS mismatch between CRS of the passed geometries and 'crs'. Use 'GeoDataFrame.set_crs(crs, allow_override=True)' to overwrite CRS or 'GeoDataFrame.to_crs(crs)' to reproject geometries. CRS mismatch will raise an error in the future versions of GeoPandas.
  after removing the cwd from sys.path.

         OBJECTID                          geometry
593280     593281  POINT (-8915677.169 3096502.797)
593281     593282  POINT (-8927142.194 3091286.523)
593282     593283  POINT (-8917070.687 3097065.751)
593283     593284  POINT (-8916881.305 3097069.277)
593284     593285  POINT (-8916623.312 3097046.965)
...           ...                               ...
1338031   1338032  POINT (-9130491.112 3575723.293)
1338032   1338033  POINT (-9095303.402 3575202.887)
1338033   1338034  POINT (-9106407.185 3574920.918)
1338034   1338035  POINT (-9099131.919 3575314.852)
1338035   1338036  POINT (-9091317.012 3575193.348)

[587419 rows x 2 columns]

Find nearest *water* centroid

In [ ]:
# Removing water entries from centroid list
waterParcelIDS = set(water['OBJECTID'])
centroidsNonWater = centroidsOnly[~centroidsOnly['OBJECTID'].isin(waterParcelIDS)]

In [ ]:
#https://gis.stackexchange.com/questions/222315/finding-nearest-point-in-other-geodataframe-using-geopandas
# Returns nearest neighbor in B from each point in A
def ckdnearest(gdA, gdB):
    # Converts geodataframe into np arrays
    nA = np.array(list(gdA.geometry.apply(lambda x: (x.x, x.y))))
    nB = np.array(list(gdB.geometry.apply(lambda x: (x.x, x.y))))

    # Creates tree
    btree = cKDTree(nB)
    # Finding nearest neighbor
    dist, idx = btree.query(nA, k=1) 

    # 
    gdB_nearest = gdB.iloc[idx].drop(columns="geometry").reset_index(drop=True)
    gdf = pd.concat(
        [
            gdA.reset_index(drop=True),
            gdB_nearest,
            pd.Series(dist, name='dist')
        ], 
        axis=1)

    return gdf

nearestWaterIDs = ckdnearest(centroidsNonWater, centroidsOnly_water)

In [ ]:
nearestWaterIDs.set_axis(['OBJECTID',
                          'geometry',
                          'nearestID',
                          'dist'], 
                         axis=1, inplace=True)
nearestWaterIDs

        OBJECTID                          geometry  nearestID        dist
0              1  POINT (-8949496.651 3176698.682)    1013765  615.418975
1              2  POINT (-8949106.299 3177249.232)     597436  327.743115
2              3  POINT (-8953091.749 3177318.692)     646647  370.776985
3              4  POINT (-8947966.907 3177347.275)    1258032  117.512084
4              5  POINT (-8949616.034 3177551.032)    1019526  481.386216
...          ...                               ...        ...         ...
750612   1322189  POINT (-9045381.230 3313681.126)     772762  306.896621
750613   1322190  POINT (-9025984.382 3313083.411)     848482  309.717701
750614   1322191  POINT (-9044224.391 3314337.698)    1017530  200.662218
750615   1322192  POINT (-9004702.932 3313214.159)     658412  187.822036
750616   1322193  POINT (-9045850.913 3314325.079)     658428  124.877652

[750617 rows x 4 columns]

In [ ]:
# Generates with NaN as nearestID and dist for water parcels
gdfWithDists = gdf.join(nearestWaterIDs.drop(columns='geometry').set_index('OBJECTID'), on='OBJECTID')
gdfWithDists.fillna(value=0, inplace=True)
gdfWithDists

         OBJECTID  LEVEL3_VALUE  ...  nearestID        dist
0               1          1100  ...  1013765.0  615.418975
1               2          1100  ...   597436.0  327.743115
2               3          1100  ...   646647.0  370.776985
3               4          1100  ...  1258032.0  117.512084
4               5          1100  ...  1019526.0  481.386216
...           ...           ...  ...        ...         ...
1338031   1338032          6460  ...        0.0    0.000000
1338032   1338033          6460  ...        0.0    0.000000
1338033   1338034          6460  ...        0.0    0.000000
1338034   1338035          6460  ...        0.0    0.000000
1338035   1338036          6460  ...        0.0    0.000000

[1338036 rows x 13 columns]

In [ ]:
gdfWithDists.drop(columns='centroids').to_file("landuseLDI_centroids_nearestID_dist.geojson", driver="GeoJSON")

In [ ]:
%ls

centroidPoints.geojson  landuseLDI_centroids_nearestID_dist.geojson
data/                   README.md
demo/                   tests/
FloridaFlow/            water_centroidPoints.geojson